.load{
    margin: 10rem auto;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.load div{
    width: 4rem ;
    height: 4rem;
    border-radius: 50%;
    background-color: red;
    animation-name: loading;
    animation-duration: .9s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.load .item2{
    background-color: blue;
    animation-delay: .3s;
}
.load .item3{
    animation-delay: .6s;
    background-color: yellow;
}

@keyframes loading{
    to{
        opacity: 0.3;
        transform: translatey(-3rem);
    }
}